<section class="min-h-96 relative flex flex-1 shrink-0 items-center justify-center overflow-hidden rounded-lg bg-gray-100 py-16 shadow-lg md:py-20 xl:py-48">
  <div class="absolute inset-0 bg-indigo-500 mix-blend-multiply"></div>

  <!-- text start -->
  <div class="relative flex flex-col items-center p-4 sm:max-w-xl">
    <p class="mb-4 text-center text-lg text-indigo-200 sm:text-xl md:mb-8">Welcome </p>
    <h1 class="mb-8 text-center text-4xl font-bold text-white sm:text-5xl md:mb-12 md:text-6xl">Revolutionary way to build the web</h1>

    <div class="flex w-full flex-col gap-2.5 sm:flex-row sm:justify-center">
      <a href="#" class="inline-block rounded-lg bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">Start now</a>

      <a href="#" class="inline-block rounded-lg bg-gray-200 px-8 py-3 text-center text-sm font-semibold text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-300 focus-visible:ring active:text-gray-700 md:text-base">Take tour</a>
    </div>
  </div>
  <!-- text end -->
</section>

<!-- hero - end -->